@import "bootstrap-sprockets";
@import "bootstrap";

  .logout{
    margin-top: 7px !important;
    margin-right: 33px !important;
    color: aliceblue !important;
  }

  .margin-right{
    margin-right: 33px !important;
  }